<!-- app/views/games/score.html.erb -->
<div class="container">
  <h1>Résultat</h1>
  <p><%= @message %></p>
  <% if @score %>
    <p>Votre score: <%= @score %></p>
  <% end %>
  <%= link_to "Nouvelle Partie", root_path, class: "btn btn-primary" %>
</div>
